#canvas {
  width: 80%;
  height: 90vh;
  float: right;
  border: 1px solid #000000;
  background-color: #ffe;
}

.chatBox { /* TODO: chat does not write out of the box */
  border: 1px solid #000000;
  width: 18%;
  height: 45vh;
  float: left;
  position: relative;
  background-color: #fdf;
  margin-bottom: 5px;
}

#guessBox{
  background-color: #bfb;
}

.msg {
  width: 100%;
  padding: 10px;
  list-style-type: none;
}

.write {
  width: 80%;
  margin-left: 5px;
  position: absolute;
  bottom: 0px;
}

.chatButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

body {
  background-color: lightblue
}

#word {
  align:center;
  text-align: center;
  font-family: cursive;
}
